{% extends 'base.html' %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cupcakes.css') }}">
{% endblock head %}

{% block body %}
<div class="container">
	<h1 class="title-caption">Not Google</h1>
	<div class="square">
		<p>Not Google specializes in:</p>
		<li>Not Google Images</li>
		<li>Not Google Gmail</li>
		<li>Not Google Drive</li>
		<li>Not Google Docs</li>
		<li>Not Google Meet</li>
	</div>
	<p class="link"><a href="https://www.google.com/">Visit Not Google!</a></p>
	</div>
{% endblock body %}