{% extends 'base.html' %} {% block title %}Shopnation{% endblock title %} {%
block head %}
<!--links-->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
{% endblock head %} {% block body %}

<!--head-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!--home-->
<div class="container">
  <div class="home">
    <h1 class="title-caption">Support Your Community Today!</h1>
    <a href="#mission">
      <div class="scroll-down"></div>
    </a>
  </div>
</div>
<!--mission-->
<div class="container">
  <div class="mission" id="mission">
    <h1 class="mission-title">Our Mission</h1>
    <img
      src="{{ url_for('static', filename='img/31upv631160.png') }}"
      class="imgmis img1"
    />
    <p class="p1">
      Our Mission is to create an <br />interconnected community to connect<br />
      one another and bring each other <br />close to home when we are all away
    </p>
    <img
      src="{{ url_for('static', filename='img/oNlMfgwLbWI.png') }}"
      class="imgmis img2"
    />
    <p class="p2">
      By using ShopNation you are<br />
      giving hope and a light<br />
      to countless amounts<br />
      of small business’ around the world
    </p>
  </div>
</div>
<!--help-->
<div class="container">
  <div class="help">
    <h1>How Can You Help?</h1>
    <p>
      To start impacting and helping your community, you can create an account
      with ShopNation and start donating to your favourite business in different
      categories. By just clicking a button, you are giving hope and shedding
      light to small business owners from across the globe. Create an account
      and start now!
    </p>
  </div>
</div>
<!--devs-->
<div class="container">
  <div class="devs">
    <h1>Meet the Developers</h1>
    <div class="row">
      <div class="column">
        <a href=""
          ><img
            src="{{ url_for('static', filename='img/Mark-Portrait(NotFormal) 1.png') }}"
            class="devimg"
        /></a>
        <p>Mark A.</p>
        <p>Design & Front-End</p>
      </div>
      <div class="column">
        <a href=""
          ><img
            src="{{ url_for('static', filename='img/account.png') }}"
            class="devimg"
        /></a>
        <p>Hasib H.</p>
        <p>Design & Front-End</p>
      </div>
      <div class="column">
        <a href=""
          ><img
            src="{{ url_for('static', filename='img/account.png') }}"
            class="devimg"
        /></a>
        <p>Maximiliano B.</p>
        <p>Backend</p>
      </div>
      <div class="column">
        <a href=""
          ><img
            src="{{ url_for('static', filename='img/keroleiveri.jpg') }}"
            class="devimg"
        /></a>
        <p>Caroline T.</p>
        <p>Design & Front-End</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
