<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>

    <!--links-->
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <!--newacc-->
    <div class="container">
        <div class="newacc">
            <a href="index.html" class="logo">Logo</a>
            <form action="newacc.html" class="box">
                <h1>Create an Account</h1>
                <input type="email" name="" placeholder="Email">
                <input type="password" name="" placeholder="Password">
                <input type="submit" name="" value="Create">
                <a href="login.html">Already Have an Account? Log In</a>
            </form>
        </div>
    </div>
</body>
</html>