{% extends 'base.html' %}
{% block head %}
	
<!--links-->
<title>New Account</title>
<link rel="stylesheet" href="{{ url_for ('static', filename='css/login.css') }}">

{% endblock head %}
{% block body %}
	
<!--newacc-->
<div class="container">
	<div class="newacc">
		<form action="#" class="box" method="POST">
			<h1>Create an Account</h1>
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="confirm_password" placeholder="Confirm Password">
			<input type="submit" value="Create">
			<a href="/login">Already Have an Account? Log In</a>
		</form>
	</div>
</div>
{% endblock body %}